<h3>Dashboard</h3>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>サイト</th>
                <th>URL</th>
                <th>最終更新日</th>
                <th>最新記事</th>
                <th>プロジェクト切り替え</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mark</td>
                <td>http://google.com</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>http://google.com</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>http://google.com</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-1">
        One of three columns
    </div>
</div>