<div class="container">
    <div class="row">
        <h3>Sites</h3>
    </div>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>サイト</th>
            <th>URL</th>
            <th>最終更新日</th>
            <th>最新記事</th>
            <th>プロジェクト切り替え</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>http://google.com</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>http://google.com</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>http://google.com</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
