<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>サイト</th>
        <th>URL</th>
        <th>最終更新日</th>
        <th>最新記事</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#discussion of discussionsStore.discussions">
        <td>{{discussion.id}}</td>
        <td>{{discussion.title}}</td>
        <td>Otto</td>
        <td>@mdo</td>
        <th>
            <button class="btn btn-primary"
                    [routerLink]="['DiscussionDetail',{id:discussion.id}]">View
            </button>
        </th>
    </tr>
    </tbody>
</table>